.header
	display: flex
	align-items: center
	justify-content: space-between
	padding-top: 1em

.header-brand
	flex: 1
	white-space: nowrap

.header-brand-link
	+bold
		
	&::before
		content: "# "

.header-nav
	flex: 1
	white-space: nowrap
	text-align: right
	display: flex
	align-items: center
	justify-content: flex-end

a.header-nav-link
	color: $color-text-light
	position: relative
	display: block

	&:hover
		color: $color-text-dark

	+ .header-nav-link
		margin-left: 1em

		&::after
			content: " "
			background-color: $color-text-light
			position: absolute
			left: -0.5em
			top: 50%
			margin-top: -5px
			height: 10px
			width: 1px
