\---
layout: default
\---

.headline{ role: :marquee }
  .container
    .headline-left
      %h1.headline-left-title We partner with early-stage entrepreneurs to get ideas off the ground.
      %p.headline-left-desc Join our portfolio as an alternative to raising seed money. We bring top notch engineering and strategic consulting to your venture.
    .headline-divider
      .headline-divider-inner
    .headline-right
      .headline-right-inner
        .ss-table
          .ss-table-row
            .ss-table-cell
              %a.btn.btn-full.btn-lg{ href: "#"}
                Get in touch
              .headline-cta-desc
                %br
                Have a product idea? Hit us up!

.content
  .container
    %section.content-section
      %h3.content-section-title how we roll
      .content-section-offering

        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            .ss-table.ss-table-fill-height
              .ss-table-row
                .ss-table-cell
                  1
        .content-section-offering-info
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .clear
