\---
layout: default
\---

.headline{ role: :marquee }
  .container
    .headline-left
      %h1.headline-left-title We partner with early-stage entrepreneurs to get ideas off the ground.
      %p.headline-left-desc Join our portfolio as an alternative to raising seed money. We bring top notch engineering and strategic consulting to your venture.
    .headline-divider
      .headline-divider-inner
    .headline-right
      .headline-right-inner
        .ss-table
          .ss-table-row
            .ss-table-cell
              %a.btn.btn-full.btn-lg{ href: "mailto:hello@seasalt.io"}
                Get in touch
              .headline-cta-desc
                %br
                Have a product idea? Hit us up!

.content
  .container
    %section.content-section
      %h3.content-section-title what we do
      .content-section-offering.clear
        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            .ss-table.ss-table-fill-height
              .ss-table-row
                .ss-table-cell
                  1
        .content-section-offering-info
          %p
            %strong Lorem ipsum dolor &mdash;
            sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .content-section-offering.clear
        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            .ss-table.ss-table-fill-height
              .ss-table-row
                .ss-table-cell
                  2
        .content-section-offering-info
          %p
            %strong Lorem ipsum dolor &mdash;
            sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

      .content-section-offering.clear
        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            .ss-table.ss-table-fill-height
              .ss-table-row
                .ss-table-cell
                  3
        .content-section-offering-info
          %p
            %strong Lorem ipsum dolor &mdash;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

    %section.content-section.content-section-workshop
      %h3.content-section-title our free workshops
      .content-section-offering.clear
        .content-section-offering-info
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
          %p
            %a.btn.btn{ href: "#"}
              Schedule a workshop
        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            .ss-table.ss-table-fill-height
              .ss-table-row
                .ss-table-cell
                  %span.icon-calendar

    %section.content-section.content-section-team
      %h3.content-section-title our team
      .content-section-offering.clear
        .content-section-offering-info
          %p
            %strong Kyle Truscott &mdash;
            %em Engineering & Design
            %br
            Kyle brings years of engineering and UX design experience to your team. He specializes in iOS, Ruby, Go and general web development; he's not afraid of some dev-ops either. Previously, he directed technology at
            %a{href: "http://freeassociation.is"} FreeAssociation.

        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            %img.team-member-img{ src: "http://cdn.pastemagazine.com/www/system/images/photo_albums/best-worst-skymall/large/3493-620x.jpg?1384968217"}

      .content-section-offering.clear
        .content-section-offering-info
          %p
            %strong Kyle Truscott &mdash;
            %em Engineering & Design
            %br
            Kyle brings years of engineering and UX design experience to your team. He specializes in iOS, Ruby, Go and general web development; he's not afraid of some dev-ops either. Previously, he directed technology at
            %a{href: "http://freeassociation.is"} FreeAssociation.
        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            %img.team-member-img{ src: "http://cdn.pastemagazine.com/www/system/images/photo_albums/best-worst-skymall/large/3493-620x.jpg?1384968217"}

      .content-section-offering.clear
        .content-section-offering-info
          %p
            %strong Kyle Truscott &mdash;
            %em Engineering & Design
            %br
            Kyle brings years of engineering and UX design experience to your team. He specializes in iOS, Ruby, Go and general web development; he's not afraid of some dev-ops either. Previously, he directed technology at
            %a{href: "http://freeassociation.is"} FreeAssociation.
        .content-section-offering-label{role: :presentation}
          %span.content-section-offering-label-digit
            %img.team-member-img{ src: "http://cdn.pastemagazine.com/www/system/images/photo_albums/best-worst-skymall/large/3493-620x.jpg?1384968217"}



