\---
layout: default
title: "Products - Sea/Salt"
\---

.main
  .headline{ role: :marquee }
    .container
      .headline-left
        %h1.headline-left-title Our products page is coming soon...
        %p.headline-left-desc Join our portfolio as an alternative to raising seed money. We bring top notch engineering and strategic consulting to your venture.
      .headline-divider
        .headline-divider-inner
      .headline-right
        .headline-right-inner
          .ss-table
            .ss-table-row
              .ss-table-cell
                %a.btn.btn-full.btn-lg{ href: "mailto:hello@seasalt.io"}
                  Get in touch
                .headline-cta-desc
                  %br
                  Have a product idea? Hit us up!