---
layout: default
---
{% include header.html %}

<section class="home-intro">
	<p>
		each year, we embed within a handful of early-stage companies as the dedicated product team. our product leadership, design and engineering are a bridge to your next business milestone.
		<a href="https://seasalt.attach.io/EkPt519xW">more…</a>
	</p>
</section>
<section class="home-who">

	<div class="home-who-ind">
		<div class="home-who-ind-photo">
			<img src="/assets/media/kyle@2x.jpg" alt="Kyle Truscott">
		</div>
		<div class="home-who-ind-info">
			<div class="home-who-ind-info-name">
				Kyle Truscott
			</div>
			<p class="home-who-ind-info-desc">
				polygot software engineer<br>
				user experience design expert
			</p>
		</div>
	</div>

	<div class="home-who-ind">
		<div class="home-who-ind-photo">
			<img src="/assets/media/brendan@2x.jpg" alt="Brendan Truscott">
		</div>
		<div class="home-who-ind-info">
			<div class="home-who-ind-info-name">
				Brendan Truscott
			</div>
			<p class="home-who-ind-info-desc">
				multi-tool business analyst<br>
				market research pro
			</p>
		</div>
	</div>
</section>

<section class="home-section home-services margins-on">
	<h3>service menu</h3>
	<div class="home-service">
		<div class="home-service-header">
			<h4>
				Embedded Product Team
			</h4>
			<div class="home-service-header-sep"></div>
			<div class="home-service-header-note">
				$XXX / week
			</div>
		</div>
		<div class="home-service-details margins-on">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			</p>
			<ul>
				<li>One</li>
				<li>Two</li>
				<li>Three</li>
			</ul>
		</div>
	</div>

	<div class="home-service">
		<div class="home-service-header">
			<h4>
				Embedded Product Team
			</h4>
			<div class="home-service-header-sep"></div>
			<div class="home-service-header-note">
				$XXX / week
			</div>
		</div>
		<div class="home-service-details margins-on">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
			</p>
			<ul>
				<li>One</li>
				<li>Two</li>
				<li>Three</li>
			</ul>
		</div>
	</div>
</section>

{% include footer.html %}
