---
layout: default
---
{% include header.html %}

<section class="home-intro">
	<p>
		each year, we embed within a handful of early-stage companies as the dedicated product team. our product leadership, design and engineering are a bridge to your next business milestone.
		<a href="https://seasalt.attach.io/EkPt519xW">more…</a>
	</p>
</section>
<section class="home-who">

	<div class="home-who-ind">
		<div class="home-who-ind-photo">
			<img src="/assets/media/kyle@2x.jpg" alt="Kyle Truscott">
		</div>
		<div class="home-who-ind-info">
			<div class="home-who-ind-info-name">
				Kyle Truscott
			</div>
			<p class="home-who-ind-info-desc">
				polygot software engineer<br>
				user experience design expert
			</p>
		</div>
	</div>

	<div class="home-who-ind">
		<div class="home-who-ind-photo">
			<img src="/assets/media/brendan@2x.jpg" alt="Brendan Truscott">
		</div>
		<div class="home-who-ind-info">
			<div class="home-who-ind-info-name">
				Brendan Truscott
			</div>
			<p class="home-who-ind-info-desc">
				multi-tool business analyst<br>
				market research pro
			</p>
		</div>
	</div>
</section>

<section class="home-section home-services margins-on">
	<h3>service menu</h3>

	<div class="home-service">
		<div class="home-service-header">
			<h4>
				Embedded Product Team
			</h4>
			<div class="home-service-header-sep"></div>
			<div class="home-service-header-note">
				$6k / week
			</div>
		</div>
		<div class="home-service-details margins-on">
			<p>
				hire us for 3-4 months as your full-time product team. we’ll work alongside your company to help reach the next phase of your business. depending on the stage of your company we might:
			</p>
			<ul>
				<li>Sharpen your vision and go-to-market strategy</li>
				<li>De-risk critical technology components of your idea</li>
				<li>Design and build an MVP</li>
				<li>Train your team to be product leaders</li>
			</ul>
		</div>
	</div>

	<div class="home-service">
		<div class="home-service-header">
			<h4>
				UX Design Workshops
			</h4>
			<div class="home-service-header-sep"></div>
			<div class="home-service-header-note">
				$1200 / day
			</div>
		</div>
		<div class="home-service-details margins-on">
			<p>
				we lead design centric workshops that systematically zero-in on a great user-experience for your customers. great for existing products in the market that need focus and improvement.
			</p>
		</div>
	</div>

	<div class="home-service">
		<div class="home-service-header">
			<h4>
				Research Days
			</h4>
			<div class="home-service-header-sep"></div>
			<div class="home-service-header-note">
				$2400 / day
			</div>
		</div>
		<div class="home-service-details margins-on">
			<p>
				need to know more critical information about your customer? need to idenity improvement areas in your UX? commission us to design short, empirical research studies that give you the insight you need. <strong>we’ll even recruit your test stubjects.</strong>
			</p>
			<ul>
				<li>Usability studies</li>
				<li>Surveys</li>
				<li>Focus groups</li>
			</ul>
		</div>
	</div>

</section>

{% include footer.html %}
