\---
layout: default
\---

%header.hdr
  .container
    .hdr-left
      %a.hdr-logo{href: "/", title: "Sea/Salt Venture"}
        Sea/Salt
        %span.hdr-logo-venture
          Ventures
    .hdr-right

      %a.hdr-contact{href: "mailto:hello@seasalt.io", title: "Contact Us"}
        Contact Us

%section.marquee
  .container
    %h1.marquee-title
      We help founders launch their startup ideas
      %span quickly
      and
      %span cost-effectively
    %p.marquee-cta-p
      %a.marquee-cta{href: "https://seasalt.attach.io/VkOkC8F6", title: "Learn how we do it..."}
        Learn how we do it

%section.recent
  .container
    %h2.section-title Recent Work
    .recent-items
      %a.recent-item.recent-item-pingsy{href: "https://itunes.apple.com/us/app/pingsy/id910693542?ls=1&mt=8", title: "Pingsy - iPhone App"}
        %svg.recent-item-shape{ height: 80, width: 80}
          %polygon{points: "80,0 80,80 0,80"}
        .recent-item-top
          %h4.recent-item-title Pingsy
          %p.recent-item-desc Worth a thousand texts
        %p.recent-item-details
          %span.recent-item-type iPhone App
          %span.recent-item-status LAUNCHED

      %a.recent-item.recent-item-split{href: "https://itunes.apple.com/us/app/split-it-pays-to-share!/id996922668?ls=1&mt=8", title: "Split - iPhone App"}
        %svg.recent-item-shape{ height: 80, width: 80}
          %polygon{points: "80,0 80,80 0,80"}
        .recent-item-top
          %h4.recent-item-title Split
          %p.recent-item-desc Get rewarded for sharing great recommendations with your friends and family
        %p.recent-item-details
          %span.recent-item-type iPhone App
          %span.recent-item-status LAUNCHED

      %a.recent-item.recent-item-lf{href: "https://itunes.apple.com/us/app/lost-found-nycs-missed-connections/id962074018?mt=8", title: "Lost & Found - iPhone App"}
        %svg.recent-item-shape{ height: 80, width: 80}
          %polygon{points: "80,0 80,80 0,80"}
        .recent-item-top
          %h4.recent-item-title Lost & Found
          %p.recent-item-desc Find your missed connections and help others find theirs
        %p.recent-item-details
          %span.recent-item-type iPhone App
          %span.recent-item-status LAUNCHED

      %a.recent-item.recent-item-votr{href: "https://itunes.apple.com/us/app/opedia-have-opinion-on-everything/id1045800809", title: "Opedia - iPhone App"}
        %svg.recent-item-shape{ height: 80, width: 80}
          %polygon{points: "80,0 80,80 0,80"}
        .recent-item-top
          %h4.recent-item-title Opedia
          %p.recent-item-desc Have an opinion on everything
        %p.recent-item-details
          %span.recent-item-type iPhone App
          %span.recent-item-status LAUNCHED

      %a.recent-item.recent-item-kipper{href: "http://getkipper.com", title: "Kipper - OSX App"}
        %svg.recent-item-shape{ height: 80, width: 80}
          %polygon{points: "80,0 80,80 0,80"}
        .recent-item-top
          %h4.recent-item-title Kipper
          %p.recent-item-desc Make perfect App Store screenshots
        %p.recent-item-details
          %span.recent-item-type OSX App
          %span.recent-item-status LAUNCHED


      %a.recent-item.recent-item-cta{href: "mailto:hello@seasalt.io", title: "Say hello."}
        %svg.recent-item-shape{ height: 80, width: 80}
          %polygon{points: "80,0 80,80 0,80"}
        .recent-cta-content-outer
          .recent-cta-content
            %h4.recent-item-title Want to be next?
            %p.recent-item-desc Say hello.

%section.team
  .container
    %h2.section-title Meet the launch team
    .team-members
      .team-member
        %img.team-member-img{src: "https://avatars0.githubusercontent.com/u/149019?v=3&s=460", alt: "Kyle Truscott"}
        %h3.team-member-name Kyle Truscott
        %p.team-member-role  Founder, Product Lead
        %p.team-member-desc
          You get a battle-tested CTO who's shipped dozens of products. He's also a designer and UX expert.

      .team-member
        %img.team-member-img{src: "/assets/media/brendan.png", alt: "Brendan Truscott"}
        %h3.team-member-name Brendan Truscott
        %p.team-member-role Founder, Managing Partner
        %p.team-member-desc
          Researcher, business strategist, and fundraising expert. If you have an idea,
          %a{href: 'mailto:brendan@seasalt.io'} talk to Brendan.

      .team-member
        %img.team-member-img{src: "https://avatars1.githubusercontent.com/u/8106296?v=3&s=460", alt: "Lauren Dillard"}
        %h3.team-member-name Lauren Dillard
        %p.team-member-role  Product Launch Lead
        %p.team-member-desc
          Your own dedicated launch expert. She helps create strong foundations for your startup's growth.