//
// Icon Font: fontcustom
//

@font-face {
  font-family: "fontcustom";
  src: url("/assets/fonts/fontcustom_de10ed249c1a84a940dac007d3300545.eot");
  src: url("/assets/fonts/fontcustom_de10ed249c1a84a940dac007d3300545.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/fontcustom_de10ed249c1a84a940dac007d3300545.woff") format("woff"),
       url("/assets/fonts/fontcustom_de10ed249c1a84a940dac007d3300545.ttf") format("truetype"),
       url("/assets/fonts/fontcustom_de10ed249c1a84a940dac007d3300545.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("/assets/fonts/fontcustom_de10ed249c1a84a940dac007d3300545.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-calendar:before,
.icon-check:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-close:before,
.icon-dribbble:before,
.icon-earth:before,
.icon-facebook:before,
.icon-github:before,
.icon-hammer:before,
.icon-instagram:before,
.icon-jetpack:before,
.icon-magnify:before,
.icon-menu:before,
.icon-pilot:before,
.icon-plus:before,
.icon-rocket:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-calendar:before { content: "\f10f"; }
.icon-check:before { content: "\f102"; }
.icon-chevron-left:before { content: "\f103"; }
.icon-chevron-right:before { content: "\f104"; }
.icon-close:before { content: "\f106"; }
.icon-dribbble:before { content: "\f107"; }
.icon-earth:before { content: "\f115"; }
.icon-facebook:before { content: "\f108"; }
.icon-github:before { content: "\f109"; }
.icon-hammer:before { content: "\f114"; }
.icon-instagram:before { content: "\f10a"; }
.icon-jetpack:before { content: "\f110"; }
.icon-magnify:before { content: "\f111"; }
.icon-menu:before { content: "\f10b"; }
.icon-pilot:before { content: "\f112"; }
.icon-plus:before { content: "\f10c"; }
.icon-rocket:before { content: "\f113"; }
.icon-twitter:before { content: "\f10e"; }

$font-fontcustom-calendar: "\f10f";
$font-fontcustom-check: "\f102";
$font-fontcustom-chevron-left: "\f103";
$font-fontcustom-chevron-right: "\f104";
$font-fontcustom-close: "\f106";
$font-fontcustom-dribbble: "\f107";
$font-fontcustom-earth: "\f115";
$font-fontcustom-facebook: "\f108";
$font-fontcustom-github: "\f109";
$font-fontcustom-hammer: "\f114";
$font-fontcustom-instagram: "\f10a";
$font-fontcustom-jetpack: "\f110";
$font-fontcustom-magnify: "\f111";
$font-fontcustom-menu: "\f10b";
$font-fontcustom-pilot: "\f112";
$font-fontcustom-plus: "\f10c";
$font-fontcustom-rocket: "\f113";
$font-fontcustom-twitter: "\f10e";
