!!! 5
%head
  %meta{ charset: 'utf-8' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
  %link{ rel: "stylesheet", href: "/assets/css/screen.css" }

  %title {{ page.title }}
  %meta{ type: :description, content: "We partner with early-stage entrepreneurs to get ideas off the ground."}

  %link{ rel: "shortcut icon", href: "/assets/media/favicon.png"}

  %script{ type: "text/javascript", src: "//use.typekit.net/ygs4xuv.js" }
  :javascript
    try{Typekit.load();}catch(e){}

  %script{ src: "/assets/js/modernizr.js" }
%body

  %header.hdr
    .container
      .hdr-logo-box
        %a.hdr-logo{ href: "/" }
          %span sea/salt

      / %a.hdr-menu-toggle.icon-menu.js-menu-open{ href: "#"}
      / %a.hdr-menu-toggle.icon-close.js-menu-close{ href: "#"}
      / %ul.hdr-menu{role: :menu}
      /   %li
      /     %a{ href: "/" } Home
      /   %li
      /     %a{ href: "/products" } Products
      /   %li
      /     %a{ href: "/blog" } Blog


  {{content}}
  %footer.footer
    .container
      .footer-content
        %p
          %a.hdr-logo{ href: "/" }
            %span sea/salt
        %p
          20 Jay St.
          %br
          Suite #516
          %br
          Brooklyn, NY 11201
        %p
          %a{ href: "mailto:hello@seasalt.io" } hello@seasalt.io

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59424309-1', 'auto');
    ga('send', 'pageview');


  %script{ src: "/assets/js/vendor.js" }
  %script{ src: "/assets/js/app.js" }

