%footer.footer
  .container
    %p.footer-copywrite
      © Sea/Salt Ventures 2015
    %p.footer-address
      55 Broadway St. &middot; 4th Floor &middot; New York NY, 10006
    %p.footer-email
      %a{href:"mailto:hello@seasalt.io"} hello@seasalt.io
      &middot;
      %a{href: "https://twitter.com/seasalt_io"} @seasalt_io

