%footer.footer
  .container
    %p.footer-copywrite
      © Sea/Salt Ventures 2015
    %p.footer-address
      20 Jay St. &middot; Suite 516 &middot; Brooklyn NY, 11201
    %p.footer-email
      %a{href:"mailto:hello@seasalt.io"} hello@seasalt.io
      &middot;
      %a{href: "https://twitter.com/seasalt_io"} @seasalt_io

